body {
  font-family: sans-serif;
  text-align: center;
  margin: 0;
}

nav {
  background-color: black;
  padding: 10px 0;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center; /* centriraj stavke */
}

nav ul li {
  margin: 0 20px; /* razmak lijevo/desno između stavki */
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
}

nav ul li a:hover {
  text-decoration: underline;
}

#tooltip {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.hidden {
  display: none;
}

svg {
  border: 1px solid #ccc;
}

.country {
  fill: #d3d3d3;
  stroke: white;
  stroke-width: 0.5;
  cursor: pointer;
}

.country:hover {
  fill: orange;
}

